<style>
  .navbar {
    background-color: #333; /* Set your desired background color */
    height: 80px; /* Adjust the height as needed */
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-top: 40px;
    margin-right: 50px; /* Adjust the spacing between links */
    align-items: baseline;
  }

  .nav-link {
    color: #fff; /* Set your desired text color */
    text-decoration: none; /* Remove the default underline for links */
    padding: 10px 15px; /* Adjust the padding to create a button-like appearance */
    border: 1px solid #fff; /* Add a border for a button-like look */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
  }

  .nav-link:hover {
    background-color: #fff; /* Change background color on hover */
    color: #333; /* Change text color on hover */
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add-recipe">Add new recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Homepage</a>
      </li>
    </ul>
  </div>
</nav>


