<style>
  .navbar {
    background-color: #333; 
    height: 80px; 
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-top: 40px;
    margin-right: 50px; 
    align-items: baseline;
  }

  .nav-link {
    color: #fff; /* Set your desired text color */
    text-decoration: none; /* Remove the default underline for links */
    padding: 10px 15px; /* Adjust the padding to create a button-like appearance */
    border: 1px solid #fff;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
  }

  .nav-link:hover {
    background-color: #fff; /* Change background color on hover */
    color: #333; /* Change text color on hover */
  }
</style>


<div *ngIf="userRole === 'REGUSER'">
  
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add-recipe">Add new recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search recipes</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="">Homepage</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div *ngIf="userRole != 'REGUSER' && userRole != 'ADMIN'">
  
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Search recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login-signup">Login & Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Homepage</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <div *ngIf="userRole === 'ADMIN'">
  
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="approve">Approve recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search">Search recipes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="">Homepage</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>



